<h1 class="title">Leave a comment for {{this.title}}</h1>

<form data-id="{{this.id}}" class="update-form">

 
  <div class="form-group">
    <label for="quo">Comment:</label>
<div id= "textarea">
    <textarea id="bodyinput" name="body" rows="8" cols="40">{{note.body}}</textarea>
</div>

  </div>
<div id="button">
  <button data-id="{{this.id}}" name= "{{this.title}}" id='savenote'>Save Comment</button>
</div>

</form>
 <p class = "mainpage"><a href="/">main page </a> </p>